Backup n8n workflows.json
[{"updatedAt":"2025-11-08T00:33:55.000Z","createdAt":"2025-11-06T16:17:04.332Z","id":"MdHrJRPcTiUQ7mz0","name":"Backup n8n workflows","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"9e757e22-548b-460f-805f-0c0196f0b9d1","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,400]},{"parameters":{"options":{}},"id":"19fa6b89-dbcb-4b5f-b331-9594dcfed2fd","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[752,400]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"489cd492-ff66-460b-a835-419a740ff18c","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[960,400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"2a308f7e-a788-4bf9-bd19-4da8d87d5b68","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1152,400]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"dkdan","mode":"list","cachedResultName":"dkdan","cachedResultUrl":"https://github.com/dkdan"},"repository":{"__rl":true,"value":"N8N-workflows","mode":"list","cachedResultName":"N8N-workflows","cachedResultUrl":"https://github.com/dkdan/N8N-workflows"}},"id":"c0ddc2d3-f373-48de-922f-5b57f1ed1d37","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1360,400],"alwaysOutputData":true,"webhookId":"634f8ae1-9062-43cd-a445-c114b16bc05a","credentials":{"githubOAuth2Api":{"id":"mGcsN83Vs71aRShZ","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"6850595f-b8d8-4ae3-868c-47d462195b2f","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1760,400]},{"parameters":{"filters":{},"requestOptions":{}},"id":"bbbb46e3-c85e-47c6-bea1-da3e51ce1c91","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1968,400],"credentials":{"n8nApi":{"id":"PMD6IRnw0n8rMcGD","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"2c1d2bd5-9dbd-4090-96e9-19df630d3773","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3200,368]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"dd333220-9126-4dc6-9dd8-110dcefe982f","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[3408,320],"alwaysOutputData":false},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"94f96b07-6939-431f-9838-28f0113d5736","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[3680,256]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"dkdan","mode":"list","cachedResultName":"dkdan","cachedResultUrl":"https://github.com/dkdan"},"repository":{"__rl":true,"value":"N8N-workflows","mode":"list","cachedResultName":"N8N-workflows","cachedResultUrl":"https://github.com/dkdan/N8N-workflows"},"filePath":"={{ $('If1').item.json.name }}.json","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"f987e520-ee3f-4b12-ac56-334b16b4eb64","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3072,128],"webhookId":"cabfd710-934b-4500-baa3-a02111cacaef","credentials":{"githubOAuth2Api":{"id":"mGcsN83Vs71aRShZ","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"dkdan","mode":"list","cachedResultName":"dkdan","cachedResultUrl":"https://github.com/dkdan"},"repository":{"__rl":true,"value":"N8N-workflows","mode":"list","cachedResultName":"N8N-workflows","cachedResultUrl":"https://github.com/dkdan/N8N-workflows"},"filePath":"={{ $('Loop Over Items').item.json.name }}.json","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"82c28d31-97b6-4e8d-8504-42b6df5cb3e8","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3072,528],"webhookId":"1d340852-994e-484f-b401-e3b47b28410e","credentials":{"githubOAuth2Api":{"id":"mGcsN83Vs71aRShZ","name":"GitHub account"}}},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"a5362e4d-0898-45ac-9b98-0a94fbeae408","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2224,0]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"5272a70d-de35-487d-9807-1b917da7fa20","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1728,240]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2096,624],"id":"7434078f-9c1f-410b-9514-474e3aa6337a","name":"Aggregate"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,544],"id":"f8ebbe15-7ae4-473a-884f-3c6a82cce332","name":"Edit Fields"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2560,544],"id":"84a18f08-c517-4519-8d64-24f18a0ddcd7","name":"Aggregate1"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2736,544],"id":"ffee5e01-90ab-44fb-b838-10e6b4a64045","name":"Summarize"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c95983ae-d987-4f44-b15a-e4f459d9a255","leftValue":"={{ $('Combine file names [GITHUB]').item.json.name[0] }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2544,368],"id":"5dfae794-733c-4451-bde9-aaa001f98e47","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2192,368],"id":"bbbd0763-3091-4019-8875-1b70dd29823a","name":"Loop Over Items"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2784,400],"id":"82212d10-046a-435d-8c27-4140888445c5","name":"Convert to File"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2832,160],"id":"253193ea-9b2a-4672-9fa1-817fa54d718a","name":"Convert to File1"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[],[]]},"Update file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"If1":{"main":[[{"node":"Convert to File1","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4f02627-7263-4740-8afe-48743c363448","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T16:17:04.340Z","createdAt":"2025-11-06T16:17:04.340Z","role":"workflow:owner","workflowId":"MdHrJRPcTiUQ7mz0","projectId":"oWanway0hkVPqp68"}],"tags":[]}]