My workflow 2.json
[{"updatedAt":"2025-11-02T11:52:22.953Z","createdAt":"2025-11-02T11:52:22.953Z","id":"QFH7ueRMyYnMZlJa","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"ca544483-588f-4c38-9c20-dd07f88a8a0e","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,192],"id":"26df44bb-d874-48af-ba02-4bcf13f80fea","name":"When chat message received","webhookId":"6e36e10f-69b9-4874-9e0f-38171c44dc9e"},{"parameters":{"promptType":"define","text":"a man in supermarket car park","hasOutputParser":true,"options":{"systemMessage":"=You are an AI Story Prompt Writer Agent for a vlog-style YouTube short filmed entirely through meta camera glasses.\nYour task is to write a short cinematic story broken into 8 connected scenes, each formatted as a video prompt written in vivid, realistic language.\nThese prompts are for an AI video generator, and they will later be stitched together into a single cohesive clip.\nThe only allowed output format is the following JSON:\n\n{\n  \"title\": \"Exciting, descriptive, simple title here\",\n  \"description\": \"Short, cinematic description of the moment\",\n  \"scenes\": {\n    \"scene 1\": \"\",\n    \"scene 2\": \"\",\n    \"scene 3\": \"\",\n    \"scene 4\": \"\",\n    \"scene 5\": \"\",\n    \"scene 6\": \"\",\n    \"scene 7\": \"\",\n    \"scene 8\": \"\"\n  }\n}\n\nRULES FOR WRITING SCENES\n\nScene 1 is always an intro.\n\nScene 8 is always an outro.\n\nThe story should feel complete by Scene 6 or 7.\n\nEach scene must flow logically — same perspective (POV from camera glasses), consistent motion, natural progression in the environment.\n\nEvery scene must feel like a continuous, real vlog moment, not a scripted short film.\n\nThe man wearing the meta glasses is always the camera point of view — his hands, voice, and subtle movements are what the audience sees and hears.\n\nDialogue must feel natural, conversational, and match the emotional tone of the moment.\n\nAvoid cuts, scene jumps, or detached narration. Each scene should feel like a moment happening right now.\n\nStart each scene like this:\n\n“POV footage from meta camera glasses, filmed by a middle-aged white man walking through the city…”\n\nThen follow with a natural, cinematic action and dialogue relevant to the story moment — for example:\n\n“He spots a homeless man sitting by a wall. He says, ‘Hey man, you wanna try something crazy? This game could change your life if you win.’”\n\nMaintain realism, subtle audio textures (street sounds, voices, background hum), and natural camera motion.\n\nSCENE STYLE REQUIREMENTS\n\nEach scene must be cinematically written — realistic lighting, ambient sounds, and motion described in immersive detail.\nUse present tense and make each scene feel like one continuous clip.\n\nAlways end each scene with the following structure:\n\nTime of Day: (e.g., “Late afternoon sunlight reflecting off glass buildings”)\n\nAudio: (e.g., “soft city noise, distant chatter, wind hitting mic”)\n\nBackground: (e.g., “busy downtown street fades behind focus”)\n\nCamera: realistic head-mounted shake (meta glasses POV)\n\nSTORYLINE CONTEXT\n\nThe core story should follow this flow:\n\nThe man starts recording his day through meta camera glasses.\n\nHe spots a homeless man and approaches him with kindness.\n\nHe introduces Stake.com — tells him it’s a game that could change his life.\n\nThe homeless man hesitates, then agrees: “Let’s play.”\n\nThe man helps him try it — tension builds.\n\nThe homeless man wins.\n\nHe celebrates with raw emotion, shouting: “I won! I won!”\n\nThe camera pans slightly as the creator says: “DM me if you want to win too.”\n\nTONE AND THEMES\n\nThe video should feel authentic, emotional, and cinematic, like a real-life social experiment caught on camera.\nUse realistic micro-actions (hand gestures, footsteps, reactions) and subtle ambient storytelling.\nAvoid melodrama — focus on believable emotion and immersive POV realism.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,96],"id":"087bbcef-4826-436d-be19-3dd31e274bcf","name":"Story writer"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[352,528],"id":"1a7b4dcd-6259-4f8b-a0e1-b2ef274a969e","name":"Anthropic Chat Model"},{"parameters":{"description":"=Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[288,320],"id":"19485350-acd1-4305-9eb7-ab82b43cad7f","name":"Think"},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Exciting, descriptive, and simple title for the Bigfoot vlog video\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Short summary of the video story in 1–2 sentences\"\n    },\n    \"scenes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scene 1\": { \"type\": \"string\" },\n        \"scene 2\": { \"type\": \"string\" },\n        \"scene 3\": { \"type\": \"string\" },\n        \"scene 4\": { \"type\": \"string\" },\n        \"scene 5\": { \"type\": \"string\" },\n        \"scene 6\": { \"type\": \"string\" },\n        \"scene 7\": { \"type\": \"string\" },\n        \"scene 8\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"scene 1\",\n        \"scene 2\",\n        \"scene 3\",\n        \"scene 4\",\n        \"scene 5\",\n        \"scene 6\",\n        \"scene 7\",\n        \"scene 8\"\n      ],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"title\", \"description\", \"scenes\"],\n  \"additionalProperties\": false\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[416,320],"id":"a161fb94-d228-4b26-beda-9dc9a57345b4","name":"Structured Output Parser"},{"parameters":{"jsCode":"const item = items[0];\nconst scenes = item.json.output?.scenes;\n\nif(!scenes) {\n  throw new Error('Scenes not found in input data');\n}\nreturn Object.entries(scenes).map(([key,value]) => {\n  return {\n    json:{\n      scene: key,\n      text: value\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,96],"id":"4c815bc8-7ab0-4a4c-a524-b880c689b6ff","name":"unbundle"},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.text }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"generationType\": \"TEXT_2_VIDEO\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,96],"id":"14cd5188-a97d-468f-a498-621630274fe2","name":"make video"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1232,96],"id":"93cce1f3-693f-43e4-9697-7f6cf5b44861","name":"Wait","webhookId":"19d49463-62bf-427f-acf5-31b19939ad12"},{"parameters":{"url":"https://api.kie.ai/api/v1/veo/record-info","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $json.data.taskId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,96],"id":"efd9af1a-0f65-4021-8672-35912928f959","name":"HTTP Request"},{"parameters":{"jsCode":"// Get the first \"story Agent\" item\nconst storyAgent = $items('Story writer')[0].json;\n// Build the final output\nreturn [\n  {\n    // Collect all video URLs from previous items and flatten into a single array\n    video_urls: items\n      .map(item => item.json?.data?.response?.resultUrls || [])\n      .flat(),\n\n    // Use storyAgent output or fallback to empty string\n    title: storyAgent?.output?.title || '',\n    description: storyAgent?.output?.description || ''\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,96],"id":"58fbd6a0-146f-49d0-8b78-312ca6c2502b","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/ffmpeg-api/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": [\n        { \"url\": \"{{ $json.video_urls[0] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[1] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[2] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[3] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[4] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[5] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[6] }}\", \"timestamp\": 0, \"duration\": 8 },\n        { \"url\": \"{{ $json.video_urls[7] }}\", \"timestamp\": 0, \"duration\": 8 }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,96],"id":"337ee4b2-42e3-40ca-ad29-30aa7c518ee0","name":"HTTP Request1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2144,96],"id":"933847de-fdc2-481f-8dc8-312c8e78db0e","name":"Wait1","webhookId":"e3d5f284-843f-4b84-8223-adc40b89faad"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key $FAL_KEY"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,96],"id":"a7c248b4-1c6b-4053-9071-2d4f89352222","name":"HTTP Request2"},{"parameters":{"resource":"media","operation":"upload"},"type":"@blotato/n8n-nodes-preview-blotato.blotato","typeVersion":2,"position":[2816,96],"id":"a0e3c04e-3d4b-4e65-b8c0-d4043440ba4d","name":"Upload media","credentials":{}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1tghdBXyIMZAmv6DgHWm2CvVS_pVp2gcIbqqWwXlbUHg","mode":"list","cachedResultName":"Youtube Videos on channel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tghdBXyIMZAmv6DgHWm2CvVS_pVp2gcIbqqWwXlbUHg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tghdBXyIMZAmv6DgHWm2CvVS_pVp2gcIbqqWwXlbUHg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Video number":"==Row() -1","Title":"={{ $('Code in JavaScript').item.json.title }}","Description":"={{ $('Code in JavaScript').item.json.description }}","Status":"Ready","Final Output":"={{ $json.video_url }}"},"matchingColumns":[],"schema":[{"id":"Video number","displayName":"Video number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Final Output","displayName":"Final Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2592,96],"id":"85cf0f0b-90dc-413b-9761-eb5f2170506c","name":"Append row in sheet"},{"parameters":{"resource":"post","operation":"create"},"type":"@blotato/n8n-nodes-preview-blotato.blotato","typeVersion":2,"position":[3040,96],"id":"7153f49a-dbe1-4547-b5e6-ed797342a041","name":"Create post","credentials":{}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Story writer","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Story writer","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Story writer","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"Story writer","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Story writer","type":"ai_outputParser","index":0}]]},"Story writer":{"main":[[{"node":"unbundle","type":"main","index":0}]]},"unbundle":{"main":[[{"node":"make video","type":"main","index":0}]]},"make video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Upload media":{"main":[[{"node":"Create post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Code in JavaScript":[{"json":{"video_urls":["https://tempfile.aiquickdraw.com/v/fd11f8f17c9b933d1916b764d4f32cce_1761541340.mp4","https://tempfile.aiquickdraw.com/v/361cb4873973f383b7f2b989c7b68f7d_1761541334.mp4","https://tempfile.aiquickdraw.com/v/3b7cab28887bf9b88fc012fcb680061c_1761541330.mp4","https://tempfile.aiquickdraw.com/v/2230a23dcda2ac8c26c3a3af635f0f5d_1761541345.mp4","https://tempfile.aiquickdraw.com/v/041a31ab7f98db0a88f4893ee8d0eda7_1761541335.mp4","https://tempfile.aiquickdraw.com/v/b731a4a1f13bf82df93d20635df7cc9d_1761541355.mp4","https://tempfile.aiquickdraw.com/v/13e02251d31c4fa1f778910c7066d8ff_1761541360.mp4","https://tempfile.aiquickdraw.com/v/9e2f5caf4069d1705d0d28452d029462_1761541335.mp4"],"title":"Bigfoot Helps an Injured Lion in the Wild","description":"Bigfoot discovers an injured lion deep in the forest and carefully removes a painful thorn from its paw. What starts as a rescue mission becomes an unexpected friendship between two legendary creatures."}}],"HTTP Request1":[{"json":{"status":"IN_QUEUE","request_id":"2997e243-7585-47ce-8021-2bac77bba26c","response_url":"https://queue.fal.run/fal-ai/ffmpeg-api/requests/2997e243-7585-47ce-8021-2bac77bba26c","status_url":"https://queue.fal.run/fal-ai/ffmpeg-api/requests/2997e243-7585-47ce-8021-2bac77bba26c/status","cancel_url":"https://queue.fal.run/fal-ai/ffmpeg-api/requests/2997e243-7585-47ce-8021-2bac77bba26c/cancel","logs":null,"metrics":{},"queue_position":0}}],"HTTP Request2":[{"json":{"video_url":"https://v3b.fal.media/files/b/koala/xicncURc5V287ikuiJ_ma_output.mp4","thumbnail_url":"https://v3b.fal.media/files/b/monkey/krTVmTo83SSnisrtIsL8y_first_frame.jpg"}}],"Upload media":[{"json":{"url":"https://database.blotato.io/storage/v1/object/public/public_media/11dafc39-9ec0-4475-bfa6-15c62394ec08/249ec35a-85ca-4aef-a88f-fac1c0b61107.mp4","id":"0f196968-1e62-4c42-989b-b9d2cafbb693"}}],"unbundle":[{"json":{"scene":"scene 1","text":"POV footage from meta camera glasses, filmed by a middle-aged white man walking through a busy supermarket car park. His hands adjust the glasses as he says, 'Alright guys, just finished shopping and something caught my eye. Let me show you what I'm talking about.' He walks past rows of parked cars, his footsteps echoing on wet asphalt. A shopping cart rattles in the distance. Time of Day: Late afternoon with overcast skies creating soft, diffused lighting. Audio: distant hum of car engines, shopping cart wheels on concrete, muffled supermarket announcements. Background: sprawling car park with scattered vehicles and a few shoppers in the distance. Camera: natural head-mounted shake as he walks purposefully forward."}},{"json":{"scene":"scene 2","text":"POV footage from meta camera glasses as the man approaches the edge of the car park near some bushes. His pace slows as he spots someone sitting against a concrete barrier. 'There's someone over here who looks like they could use some help,' he says quietly. The camera focuses on a homeless man in worn clothes, sitting with a small backpack, looking down at his hands. The man filming takes a deep breath. 'I'm gonna go talk to him.' Time of Day: Late afternoon light filtering through clouds, casting long shadows across the concrete. Audio: distant traffic, wind brushing against the microphone, faint supermarket music from across the lot. Background: concrete barriers, overgrown bushes, parked cars creating privacy. Camera: slight hesitation in movement as he approaches carefully."}},{"json":{"scene":"scene 3","text":"POV footage from meta camera glasses as the man gets closer, his shadow falling across the concrete. The homeless man looks up - weathered face, tired eyes but alert. 'Hey there, how's your day going?' the man says warmly. The homeless man responds cautiously, 'Not too bad, just trying to stay warm.' His voice is rough but polite. The camera shows the man's hands gesturing gently as he says, 'Mind if I sit with you for a minute? I've got something that might interest you.' Time of Day: Afternoon light creating a natural contrast between shadow and light on the concrete. Audio: close conversation over ambient car park sounds, slight echo off concrete surfaces. Background: close-up interaction with concrete barrier and scattered litter visible. Camera: slight downward tilt as he prepares to crouch down."}},{"json":{"scene":"scene 4","text":"POV footage from meta camera glasses as the man settles down next to the homeless man on the concrete. His hands pull out his phone, the screen reflecting the overcast sky. 'I know this might sound crazy, but there's this game called Stake.com that could literally change your life if you win,' he says, showing the phone screen. The homeless man leans in, curious but skeptical. 'A game? What kind of game?' The camera captures both their hands as he explains, 'It's legitimate, people win real money. Want to give it a shot?' Time of Day: Late afternoon with soft, even lighting from the cloudy sky. Audio: intimate conversation with distant car doors slamming, shopping cart rattling. Background: concrete texture, their shadows creating depth. Camera: stable as he focuses on demonstrating the phone."}},{"json":{"scene":"scene 5","text":"POV footage from meta camera glasses as the homeless man hesitates, looking between the phone and the man's face. 'I don't know, man... I've never had much luck with these things,' he says, his voice uncertain. The man filming responds encouragingly, 'Hey, what have you got to lose? Sometimes life surprises you when you least expect it.' After a long pause, the homeless man's weathered hands reach toward the phone. 'Alright... let's play.' His voice carries a mix of hope and resignation. Time of Day: The light is getting softer as afternoon progresses, creating warm tones on their hands. Audio: heartfelt dialogue over distant supermarket activity, slight wind noise. Background: close focus on their interaction, concrete texture softly blurred. Camera: steady with slight movement as tension builds."}},{"json":{"scene":"scene 6","text":"POV footage from meta camera glasses focusing intensely on the phone screen as the homeless man's trembling fingers navigate the game. Both men lean in close, their breathing visible in the cool air. 'Okay, here we go,' the homeless man whispers. The camera captures the suspense as numbers flash on the screen. 'Come on, come on,' the man filming says under his breath. The homeless man's grip tightens on the phone, his knuckles white. 'Is it...?' he starts to ask, voice tight with anticipation. Time of Day: Late afternoon shadows lengthening, creating dramatic contrast. Audio: tense breathing, distant car engines, the faint electronic sounds from the phone. Background: extreme close-up focus making everything else blur into abstract shapes. Camera: slight shake from anticipation and adrenaline."}},{"json":{"scene":"scene 7","text":"POV footage from meta camera glasses as the homeless man suddenly jumps up, phone still in his trembling hands. 'I WON! OH MY GOD, I WON!' he shouts, his voice cracking with emotion. Tears stream down his weathered cheeks as he stares at the screen in disbelief. The camera follows his movement as he paces excitedly. 'I can't believe this is real!' he says, wiping his eyes. The man filming stands up too, saying, 'You did it, man! You actually did it!' The homeless man laughs and cries simultaneously, clutching the phone like a lifeline. Time of Day: Golden afternoon light breaking through clouds, illuminating his tears. Audio: raw emotional shouting, his voice echoing off concrete, distant shoppers stopping to look. Background: car park suddenly feeling alive with possibility. Camera: energetic movement following the celebration."}},{"json":{"scene":"scene 8","text":"POV footage from meta camera glasses as the celebration winds down, both men now standing. The homeless man wipes his eyes, still smiling widely, phone clutched protectively in his hands. 'Thank you, man. Thank you so much,' he says, his voice thick with gratitude. The camera pans slightly as the man filming looks directly ahead and says, 'This is what it's all about, people. Real lives, real change.' He pauses, then addresses his audience: 'If you want a chance to change your story too, DM me.' The homeless man waves in the background, walking away with newfound hope in his step. Time of Day: Late afternoon with warm golden light creating a cinematic end. Audio: heartfelt gratitude, footsteps on concrete, distant shopping carts, natural car park ambiance. Background: supermarket car park fading into soft focus, cars and shoppers in the distance. Camera: natural head movement as he delivers the call to action."}}],"make video":[{"json":{"code":200,"msg":"success","data":{"taskId":"f23c9ff7d08d37df029551e5f21b96c6"}}},{"json":{"code":200,"msg":"success","data":{"taskId":"8f358ee3d7c99c6a22d0c78900833842"}}},{"json":{"code":402,"msg":"The current credits are insufficient. Please top up.","data":null}},{"json":{"code":200,"msg":"success","data":{"taskId":"db79f8f6e96401bbcab681ead1c02385"}}},{"json":{"code":402,"msg":"The current credits are insufficient. Please top up.","data":null}},{"json":{"code":200,"msg":"success","data":{"taskId":"5dfb2d9b7724a620fbf392b15e74ed3c"}}},{"json":{"code":402,"msg":"The current credits are insufficient. Please top up.","data":null}},{"json":{"code":402,"msg":"The current credits are insufficient. Please top up.","data":null}}]},"versionId":"2f5ddb4f-f3ca-447f-b06e-6b9c99e630e1","triggerCount":0,"shared":[{"updatedAt":"2025-11-02T11:52:22.959Z","createdAt":"2025-11-02T11:52:22.959Z","role":"workflow:owner","workflowId":"QFH7ueRMyYnMZlJa","projectId":"oWanway0hkVPqp68"}],"tags":[]}]